<div class="todo-item my-3">
  <input
    type="checkbox"
    id="active{{ todo.id }}"
    name="active{{ todo.id }}"
    (click)="handleCheckBox(todo)"
  />
  <label
    for="active{{ todo.id }}"
    id="todo{{ todo.id }}"
    class="mx-3"
    [ngClass]="!todo.active ? 'strike' : ''"
  >
    <h4 class="my-3" (click)="goToTodoDetail()">{{ todo.title }}</h4>
  </label>
  <button
    class="btn btn-danger"
    id="delete{{ todo.id }}"
    (click)="handleDeleteClick(todo)"
  >
    Delete
  </button>
</div>
