<div class="conatiner my-3 mx-3 flex flex-col items-center mb-auto">
  <h3 class="text-blue-400 text-4xl mb-5">My Todos</h3>
  <form action="/action_page.php" (ngSubmit)="handleAddTodo()">
    <input
      type="text"
      id="newTodo"
      name="newTodo"
      placeholder="Add Todo"
      class="border-2 border-rose-500 rounded-lg"
      [(ngModel)]="newTodo"
    />
    <input
      type="submit"
      value="Add"
      class="btn btn-primary mx-3"
      id="addTodo"
    />
  </form>
  <ul id="todo-list">
    @for (todo of todos; track $index) {
    <app-todo-item [todo]="todo" (change)="updateTodos($event)"></app-todo-item>
    }
  </ul>
</div>
